body {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  letter-spacing: 2px;
  display: block;
  font-size: 52px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 20px;
  margin-top: 40px;
}

li {
  font-family: "Quicksand", sans-serif;
  list-style: none;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  margin: 0px;
  padding: 0px;
  font-size: 20px;
  font-weight: 100;
  line-height: 25px;
}

li:first-letter {
  text-transform: capitalize;
}

ul {
  margin: 0px;
  padding: 0px;
}

.weather-app-wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.weather-app {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 25%;
  padding: 40px;
  border: 4px groove #fff;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.col-9 {
  opacity: 0.9;
  font-family: "Quicksand", sans-serif;
}

.btn {
  font-family: "Quicksand", sans-serif;
}

.btn:hover {
  opacity: 0.9;
  font-family: "Quicksand", sans-serif;
}
.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 2px;
  height: 76px;
  width: 76px;
}

.weather-temperature strong {
  font-family: "Bebas Neue", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 76px;
  font-weight: 400;
  line-height: 1;
}

.weather-temperature .units {
  font-family: "Quicksand", sans-serif;
  position: relative;
  font-size: 24px;
  margin-left: 5px;
  top: -34px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

.weather-temperature .units a {
  text-decoration: none;
  text-shadow: 1px 1px 3px #fff;
}

.weather-temperature .active {
  color: #fff;
  text-shadow: 2px 2px 2px #000000;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  font-size: 24px;
}

.weather-forecast-temperatures {
  font-family: "Quicksand", sans-serif;
  font-size: 13px;
  text-shadow: 2px 2px 4px #000000;
}
.weather-forecast-temperature-max {
  color: crimson;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000;
  font-weight: 600;
  font-size: 18px;
}

.weather-forecast-temperature-min {
  color: cornflowerblue;
  font-weight: 600;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
}

.weather-background-clear-sky-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/541/original/clear-sky-day.png?1685289621");
}

.weather-background-clear-sky-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/542/original/clear-sky-night.png?1685289640");
}

.weather-background-few-clouds-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/540/original/few-clouds-day.png?1685289604");
}

.weather-background-few-clouds-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/536/original/clouds-night.png?1685289097");
}

.weather-background-scattered-clouds {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/543/original/scattered-clouds.png?1685289726");
}

.weather-background-broken-clouds-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/540/original/few-clouds-day.png?1685289604");
}

.weather-background-broken-clouds-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/530/original/cloudy-night.png?1685288998");
}

.weather-background-rain-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/531/original/rainy-day.png?1685289007");
}

.weather-background-rain-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/533/original/rainy-night.png?1685289025");
}

.weather-background-thunderstorm-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/537/original/thunderstorm-day.png?1685289122");
}

.weather-background-thunderstorm-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/532/original/thuderstorm-night.png?1685289014");
}

.weather-background-snow-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/539/original/snow-day.png?1685289595");
}
.weather-background-snow-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/538/original/snow-night.png?1685289585");
}
.weather-background-mist-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/534/original/mist-night.png?1685289050");
}
.weather-background-mist-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/083/535/original/mist-day.png?1685289058");
}

.footer {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Quicksand", sans-serif;
  margin-left: 3px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  text-shadow: 2px 2px 5px #000000;
}
